@import '../../styles/global.scss';

.header {
  position: relative;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  padding-top: 1em;
  font-family: var(--font-secondary);

  @include media-sm {
    position: inherit;
    position: sticky;
    position: -webkit-sticky;
    top: -2em;
    flex-flow: row wrap;
    align-items: flex-start;
    padding-top: 0;
  }

  @include media-lg {
    top: 1em;
    flex-flow: row nowrap;
    align-items: center;
  }
}

// Increase specificity otherwise height 1.4em doesn't work
.header .logo {
  position: relative;
  z-index: 110;
  height: 1em;

  @include media-sm {
    height: 1.4em;
  }
}

.logo--dxlab {
  @include media-sm {
    flex: 1;
    order: 1;
  }

  @include media-lg {
    flex: none;
    padding-right: 1.5em; /* Makes logo same width as SL logo */
  }
}

.logo--slnsw {
  margin-left: var(--spacing-sm);
  padding-left: var(--spacing-sm);

  @include media-sm {
    position: relative;
    order: 2;
  }

  @include media-lg {
    order: 3;
  }

  /* @include media-lg {
    position: relative;
  } */

  /* Line decoration */
  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 0.5em;
    border-left: 1px solid var(--colour-white);
    content: '';

    @include media-sm {
      display: none;
    }
  }
}

ul.primary-menu {
  position: relative;
  right: -100%;
  height: 100%;
  margin-top: 4em;
  margin-bottom: 0;
  padding: 0;
  text-align: left;
  transition: 0.5s $ease-in-out-quint;

  @include media-sm {
    right: auto;
    margin-top: var(--spacing-xlg);
    transition: none;

    /* Line decoration */

    /* &::before {
      display: block;
      content: "";
      border-top: 1px solid var(--colour-white);
      height: var(--spacing-xxs);
      width: 1em;
    } */
  }

  @include media-lg {
    margin-top: 0.2em;
    line-height: 1;
    text-align: center;

    &::before {
      display: none;
    }
  }

  &.is-active {
    right: 0;
  }
}

.header .header__menu-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 110;
  margin-right: -1em;
}

.primary-menu__item {
  position: relative;
  font-size: var(--font-size-lg);

  @extend .font-uppercase;

  text-align: left;
  background-color: var(--colour-black);
  transition: 0.3s ease-out;
  transition-delay: 0.3s;

  /* Stagger animtion */
  &:nth-child(2) {
    left: 0.5em;
  }

  &:nth-child(3) {
    left: 1em;
  }

  &:nth-child(4) {
    left: 1.5em;
  }

  &:nth-child(5) {
    left: 2em;
  }

  &:nth-child(6) {
    left: 2.5em;
  }

  &:nth-child(7) {
    left: 3em;
  }

  .is-active & {
    left: 0;
  }

  @include media-sm {
    left: 0 !important; /* Sorry! KC */
    display: inline-block;
    margin-right: var(--spacing-lg);
    font-size: var(--font-size-md);
    line-height: 1;
    background-color: transparent;
    transition: none;
  }

  @media (min-width: 40em) {
    margin-right: var(--spacing-xlg);
  }

  & a:link,
  & a:visited {
    display: block;
    padding: 1em 1em 1em var(--spacing-xlg);

    @include media-sm {
      padding: 0;
    }

    &:link,
    &:visited {
      color: var(--colour-white);
    }

    &.is-active {
      color: var(--colour-highlight);

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 0.3em;
        height: 3.5em;
        background-color: var(--colour-highlight);
        content: '';

        @include media-sm {
          display: none;
        }
      }
    }
  }

  /* Search icon */
  &:last-child {
    @include media-sm {
      margin-right: 0;

      & .slnsw-icon-ZoomOL2 {
        padding-left: 1em;
      }
    }

    & .slnsw-icon-ZoomOL2:hover {
      color: var(--colour-highlight);
    }

    & a:hover {
      text-decoration: none;
    }

    & .primary-menu__divider {
      display: none;

      @include media-sm {
        display: inline;
      }
    }
  }

  /* Menu item decorations */
  /* &::before {
    position: absolute;
    content: "";
    left: 1em;
    width: 0.8em;
    height: 1px;
    border-top: 1px solid var(--colour-white);

    @include media-sm {
      display: none;
    }
  } */

  /* Menu item decorations */
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0.5em;
    border-top: 1px solid var(--colour-white);
    content: '';

    @include media-sm {
      display: none;
    }
  }
}
