@import '../../styles/global.scss';

.menuIconButton {
  width: 3em;
  height: 3em;
  padding: 0;
  font-size: var(--font-size-md);
  cursor: pointer;

  @include media-sm {
    display: none;
  }

  & div {
    position: absolute;
    top: 1.2em;
    left: 1em;
  }

  /* Hamburger Icon Animation */
  & span {
    position: absolute;
    display: block;
    width: 1em;
    height: 1px;
    background: var(--colour-white);
    border-radius: 2px;
    transform: rotate(0deg);
    opacity: 1;
    transition: 0.25s ease-in-out;
  }

  & span:nth-child(1) {
    top: 0;
  }

  & span:nth-child(2),
  & span:nth-child(3) {
    top: 4px;
  }

  & span:nth-child(4) {
    top: 8px;
  }

  &.isOpen span:nth-child(1) {
    top: 8px;
    left: 50%;
    width: 0%;
  }

  &.isOpen span:nth-child(2) {
    transform: rotate(45deg);
  }

  &.isOpen span:nth-child(3) {
    transform: rotate(-45deg);
  }

  &.isOpen span:nth-child(4) {
    top: 8px;
    left: 50%;
    width: 0%;
  }
}
