@import '../../styles/global.scss';

@lost gutter 1em;

.collection-item {
  lost-utility: clearfix;
  margin-bottom: var(--spacing-md);
  padding-top: var(--spacing-md);
  border-top: 1px solid var(--colour-grey-darkest);

  & a {
    display: flex;
    height: 100%;
  }

  & a:hover {
    text-decoration: none;

    & h2 {
      text-decoration: underline;
    }
  }
}

.collection-item--grid {
  lost-column: 1/2;
  padding-top: var(--spacing-xs);
  /* margin-bottom: var(--spacing-xs); */

  & a:link,
  & a:visited {
    display: flex;
    flex-direction: column;
  }

  @include media-lg {
    lost-column: 1/3 3 var(--spacing-lg);
  }
}

.collection-item__title {
  display: -webkit-box;
  margin-top: 0;
  overflow: hidden;
  color: var(--colour-white);
  font-size: var(--font-size-lg);
  font-family: var(--font-secondary);
  line-height: var(--line-height-xs);
  letter-spacing: 0;
  text-transform: none;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  opacity: 0.9;

  @include media-sm {
    /* font-size: var(--font-size-lg); */
  }

  a:hover & {
    text-decoration: underline;
  }

  .collection-item--grid & {
    font-size: var(--font-size-md);
  }
}

.collection-item__image-holder {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: var(--spacing-sm);

  @include media-sm {
    margin-right: var(--spacing-xlg);
  }

  & img {
    width: 100%;
  }

  .collection-item--grid & {
    flex: none;
    margin-right: 0;
    margin-bottom: var(--spacing-sm);
  }
}

.collection-item__image-holder__total-images {
  @extend .font-uppercase;

  width: 100%;
  margin-top: var(--spacing-xs);
  color: var(--colour-grey);
  font-size: var(--font-size-xs);

  .collection-item--grid & {
    display: none;
  }
}

.collection-item__info {
  display: flex;
  flex: 2;
  flex-direction: column;
  color: var(--colour-grey-light);
  font-size: var(--font-size-sm);

  @include media-sm {
    flex: 3;
    font-size: var(--font-size-md);
  }
}

.collection-item__type {
  @extend .font-uppercase;

  margin-bottom: var(--spacing-xxs);
  color: var(--colour-grey);
  font-weight: 700;
  font-size: var(--font-size-sm);
}

.collection-item__content {
  margin-bottom: var(--spacing-md);
  font-family: var(--font-secondary);
  opacity: 0.9;

  & p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}

.collection-item__id {
  @extend .font-uppercase;

  align-self: flex-start;
  margin-top: auto;
  margin-bottom: 0;
  color: var(--colour-grey);
  font-size: var(--font-size-sm);

  @include media-sm {
    align-self: flex-end;
  }

  .collection-item--grid & {
    padding-top: var(--spacing-xs);
  }
}
