@import '../../styles/variables.css';

.collection-item-page {
  padding-top: var(--spacing-xs);
}

.collection-item-page__back-button {
  display: block;
  margin-bottom: var(--spacing-xlg);
  padding: 0;
  font-size: var(--font-size-xs);
  @apply (--font-uppercase);
  color: var(--colour-highlight);

  @media (--screen-sm) {
    font-size: var(--font-size-sm);
  }
}

.collection-item-page__gallery {
  margin-bottom: var(--spacing-md);
}

.collection-item-page__id {
  margin-bottom: var(--spacing-xxxs);
  color: var(--colour-grey);
  font-size: var(--font-size-sm);
  font-weight: 700;
  @apply (--font-uppercase);
}

.collection-item-page__title {
  margin-top: 0;
  line-height: var(--line-height-xs);
  font-size: var(--font-size-lg);

  @media (--screen-sm) {
    font-size: var(--font-size-xlg);
  }
}

.collection-item-page__heading {
  font-size: var(--font-size-sm);
  color: var(--colour-grey);
  /* margin-bottom: 0; */
}

/* Holdings */
/* TODO: Move to own Component */
.collection-item-page__holdings {
  margin-bottom: var(--spacing-xxxlg);
  padding: var(--spacing-sm);
  background-color: var(--colour-grey-darkest);
  font-size: var(--font-size-sm);
  @apply (--font-uppercase);
}

.collection-item-page__holdings__sub-location {
  margin-bottom: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
  border-bottom: 1px solid var(--colour-black);
}

.collection-item-page__description {
  font-family: var(--font-secondary);
}

/* Tag */
/* TODO: Move to own Component */
.tag {
  display: inline-block;
  padding: var(--spacing-xxs) var(--spacing-xxs) var(--spacing-xxxs);
  margin: 0 var(--spacing-sm) var(--spacing-sm) 0;
  border: 1px solid var(--colour-primary);
  @apply (--font-uppercase);
  font-size: var(--font-size-xs);
}
