@import '../../styles/variables.css';

.collection-search-page {
  padding-top: var(--spacing-md);
  @media (--screen-sm) {
    padding-top: var(--spacing-lg);
  }
}

.collection-search-page__title {
  font-size: var(--font-size-sm);

  @media (--screen-sm) {
    font-size: var(--font-size-md);
  }
}

/* Form */
.collection-search-page__form {
  display: flex;
  margin-bottom: var(--spacing-md);

  & .button {
    flex: 1;
    height: auto;
  }
}

.collection-search-page__form__input {
  flex: 4;
  margin-right: var(--spacing-md);

  @media (--screen-sm) {
    font-size: var(--font-size-lg);
  }
}

/* Results */
.collection-search-page__results {
  display: flex;
}

/* Loader */
.collection-search-page__results__loader {
  position: relative;
  z-index: 15;
  width: 100%;
  padding-top: var(--spacing-xxs);
  margin-bottom: calc(var(--spacing-xs) * -1 - 1em);

  &:before {
    position: absolute;
    top: 0;
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: linear-gradient(
      270deg,
      var(--colour-black),
      var(--colour-highlight),
      var(--colour-black)
    );
    background-size: 400% 400%;
    animation: LoaderAnimation 3s ease-in-out infinite;
  }
}

@keyframes LoaderAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Info  */
.collection-search-page__info {
  display: flex;
  margin-bottom: var(--spacing-sm);
}

.collection-search-page__toggle-facet-list-button {
  flex: 1;
  padding: var(--spacing-sm) 0;
  @apply (--font-uppercase);
  font-size: var(--font-size-sm);
  font-weight: 700;
  text-align: left;
  color: var(--colour-highlight);

  @media (--screen-sm) {
    position: relative;
    top: 0;
    /* padding-bottom: var(--spacing-lg); */
  }
}

.collection-search-page__toggle-facet-list-button--mobile {
  display: block;

  @media (--screen-sm) {
    display: none;
  }
}

.collection-search-page__toggle-facet-list-button--desktop {
  display: none;

  @media (--screen-sm) {
    display: block;
  }
}

.collection-search-page__total-items {
  flex: 1;
  padding: var(--spacing-sm) 0;
  @apply (--font-uppercase);
  font-size: var(--font-size-sm);
  text-align: right;

  @media (--screen-sm) {
    flex: 2;
    text-align: left;
  }
}

.collection-search-page__item-type-chooser {
  /* TODO: Work out a way to show this on mobile! */
  display: none;

  & button {
    @apply (--font-uppercase);
    padding-left: var(--spacing-lg);
    padding-right: 1em;
    border-right: 1px solid var(--colour-white);
    transition: color 0.3s;
    color: var(--colour-grey);

    &:hover {
      text-decoration: underline;
    }

    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }

  @media (--screen-sm) {
    display: block;
    flex: 1;
    padding: var(--spacing-sm) 0;
    font-size: var(--font-size-sm);
    text-align: right;
  }
}

button.collection-search-page__item-type-chooser--is-active {
  color: var(--colour-white);
}

/* Facets */
.collection-search-page__facet-list {
  position: fixed;
  z-index: 20;
  visibility: hidden;
  top: 0;
  left: -80%;
  width: 80%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0 var(--spacing-lg) var(--spacing-lg);
  background-color: var(--colour-black);
  border-right: 1px solid var(--colour-grey-darkest);
  font-size: var(--font-size-sm);
  transition: 0.5s var(--ease-in-out-quint);

  @media (--screen-sm) {
    display: none;
    position: relative;
    left: 0;
    z-index: 1;
    overflow: auto;
    flex: 1;
    width: 100%;
    border-right: none;
    padding: 0;
  }
}

.collection-search-page__facet-list--is-desktop-active {
  @media (--screen-sm) {
    visibility: visible;
    display: block;
  }
}

.collection-search-page__facet-list--is-mobile-active {
  /* display: block; */
  visibility: visible;
  left: 0;
}

.collection-search-page__facet-list__mobile-button {
  /* position: sticky; */
  top: 0;
  width: 100%;
  margin-bottom: var(--spacing-xlg);
  padding-top: var(--spacing-lg);
  padding-bottom: var(--spacing-md);
  padding-left: 0;
  background-color: var(--colour-black);
  border-bottom: 1px solid var(--colour-grey-darkest);
  @apply (--font-uppercase);
  font-size: var(--font-size-md);
  font-weight: 700;
  text-align: left;
  color: var(--colour-highlight);

  @media (--screen-sm) {
    display: none;
  }
}

.collection-search-page__facet {
  margin-bottom: var(--spacing-xxlg);
  margin-right: var(--spacing-xxxxlg);
}

.collection-search-page__facet__title {
  margin-top: 0;
  color: var(--colour-grey);
}

.collection-search-page__facet__value-name {
  line-height: var(--line-height-sm);
  font-size: var(--font-size-lg);

  & a:link,
  & a:visited {
    display: block;
    /* padding-top: var(--spacing-xxxs); */
    padding-bottom: var(--spacing-xs);
    color: var(--colour-white);
    /* border-top: 1px solid var(--colour-grey-darkest); */
  }

  & span {
    color: var(--colour-grey-light);
  }
}

.collection-search-page__facet__toggle {
  text-transform: lowercase;
  /* margin-top: var(--spacing-xxxs); */
  padding: 0;
  color: var(--colour-highlight);
}

.collection-search-page__selected-facets {
  /* margin-bottom: var(--spacing-md); */
}

.collection-search-page__facet-button {
  /* Something */
}

/* Results */
.collection-search-page__items {
  width: 100%;

  @media (--screen-sm) {
    flex: 3;
  }
}

.collection-search-page__results__items {
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s;
  opacity: 1;
}

.collection-search-page__results__items--grid {
  flex-wrap: wrap;
  flex-direction: row;
}

.collection-search-page__results__items--is-loading {
  opacity: 0.2;
}
