@import '../../styles/variables.css';

.section-title {
  position: relative;
  margin-bottom: var(--spacing-lg);
  font-weight: 700;
  font-size: var(--font-size-sm);
  @apply --font-uppercase;
  line-height: 1;

  @media (--screen-sm) {
    margin-left: calc(-1 * var(--spacing-md));
  }

  /* Left line decoration */
  &::before {
    position: absolute;
    top: calc(-1 * var(--spacing-xlg));
    width: var(--spacing-lg);
    height: var(--spacing-sm);
    border-left: 1px solid var(--colour-primary);
    content: '';

    @media (--screen-sm) {
      top: calc(var(--spacing-xxlg) + 1px);
      height: 1.5em;
      border-left: 1px solid var(--colour-primary);
    }
  }

  /* Right line decoration */
  &::after {
    position: absolute;
    top: calc(-1 * var(--spacing-md));
    right: -1.3em;
    width: var(--spacing-xlg);
    border-top: 1px dashed var(--colour-white);
    content: '';

    @media (--screen-sm) {
      top: 0;
      right: 0;
      width: var(--spacing-xlg);
      border-top: none;
    }
  }
}
