@import '../../styles/global.scss';

.diaryFilesDashboard {
  display: block;

  h1 {
    @extend .font-uppercase;

    margin-top: 0;
    font-size: var(--font-size-md);
    text-align: center;
  }
}

.henryLawsonPen {
  display: block;
  width: 9em;
  margin: var(--spacing-md) auto var(--spacing-xxxlg);

  @include media-sm {
    margin-top: 0;
  }
}
