@import '../../styles/global.scss';

.diaryFilesDashboard {
  display: block;
  text-align: center;

  h1 {
    @extend .font-uppercase;

    margin-top: 0;
    font-size: var(--font-size-md);
    text-align: center;
  }

  h2 {
    font-weight: 500;
  }
}

.popularWordsChart {
  circle {
    cursor: pointer;
    transition: 0.2s opacity;

    &:hover {
      opacity: 0.7;
    }
  }
}

// .henryLawsonPen {
//   display: block;
//   width: 9em;
//   margin: var(--spacing-md) auto var(--spacing-xxxlg);

//   @include media-sm {
//     margin-top: 0;
//   }
// }
