@import '../../styles/global.scss';

.diaryFilesDashboard {
  display: block;
  font-family: var(--font-secondary);
  text-align: center;

  h1 {
    @extend .font-uppercase;

    margin-top: 0;
    font-size: var(--font-size-md);
    text-align: center;
  }

  h2 {
    font-weight: 500;
  }

  section {
    margin-top: var(--spacing-xlg);
    margin-bottom: var(--spacing-xxxlg);

    @include media-sm {
      margin-top: var(--spacing-xxxlg);
    }
  }

  ul {
    padding-left: 0;
    list-style-type: none;
  }
}

.popularWordsChart {
  margin-bottom: var(--spacing-xlg);

  circle {
    cursor: pointer;
    transition: 0.2s opacity;

    &:hover {
      opacity: 0.7;
    }
  }

  text {
    font-size: var(--font-size-md);
  }
}

// .henryLawsonPen {
//   display: block;
//   width: 9em;
//   margin: var(--spacing-md) auto var(--spacing-xxxlg);

//   @include media-sm {
//     margin-top: 0;
//   }
// }
