@import '../../styles/global.scss';

.sheetMusicContent {
  display: flex;
  flex: 3;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 var(--spacing-md);
  overflow: auto;
  color: var(--colour-black);
  background-color: var(--colour-white);
}

// ----------------------------------------------------------------------------
// SONG CONTROLS
// ----------------------------------------------------------------------------

.songControls {
  position: sticky;
  top: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--spacing-md) 0;
  background-color: var(--colour-white);
  border-bottom: 1px solid var(--colour-black);
}

.instrumentControls {
  position: absolute;
  top: 4rem;
  right: 0;
  z-index: 10;
  display: block;
  width: var(--container-width-xs);
  padding: var(--spacing-lg);
  background-color: var(--colour-white);
  border: 1px solid var(--colour-black);

  span {
    text-transform: lowercase;
  }

  p {
    margin-bottom: var(--spacing-xs);
    font-weight: 700;
    font-family: var(--font-secondary);
  }
}

.instrumentControlGroup {
  margin-bottom: var(--spacing-xlg);
}

.tempoControls {
  display: none;
  margin-left: auto;

  form {
    display: inline;
  }

  .tempoInput {
    width: 50px;
    color: var(--colour-black);
    background-color: var(--colour-grey-lighter);
    border: none;
  }

  @include media-lg {
    display: block;
  }
}

.button--light {
  @extend .font-uppercase;

  // width: fit-content;
  // padding-top: var(--spacing-xxs);
  // padding-right: var(--spacing-xxxs);
  // padding-bottom: var(--spacing-xxxs);
  // padding-left: var(--spacing-xxs);
  // color: var(--colour-black);
  // font-size: var(--font-size-lg);
  // line-height: 1;
  // border: 1px solid var(--colour-black);
}

.button--tempo {
  margin-right: var(--spacing-xxs);
  margin-left: var(--spacing-xxs);
}

.button--tempo:disabled,
.button--tempo[disabled] {
  color: #999;
  border-color: #999;
}

.volumeSlider {
  // width: 69%;
  margin-bottom: var(--spacing-xs);
  padding-top: var(--spacing-xlg);
}

// ----------------------------------------------------------------------------

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--container-width-sm);
  margin-top: var(--spacing-xlg);
  // margin-bottom: var(--spacing-md);
  text-align: center;
}

.thumbnail {
  max-width: 8rem;
  margin-bottom: var(--spacing-md);
}

.title {
  margin-top: 0;
  color: var(--colour-black);
  font-weight: 600;
  font-size: var(--font-size-xlg);
  font-family: var(--font-primary);
  letter-spacing: 0;
  text-align: center;
  text-transform: none;
}

.creator {
  @extend .font-uppercase;

  margin-bottom: 0;
  font-family: var(--font-secondary);
}

.sheetMusicContent .sheetMusic {
  max-width: var(--container-width-lg);
  background-color: var(--colour-white);
}
