@import '../../styles/global.scss';

.sheet-music-app {
  display: flex;
  flex-direction: column;
  max-width: var(--container-width-xlg);
  margin: 0 auto;

  & .sheet-music {
    background-color: var(--colour-white);
  }
}

.header {
  display: flex;
  margin-bottom: var(--spacing-xlg);

  h1 {
    margin: 0;
    font-weight: normal;
    font-size: var(--font-size-lg);
    // font-family: var(--font-secondary);
    line-height: 1;

    strong {
      margin-left: 0.05em;
      font-weight: 700;
    }
  }
}

.headerDivider {
  height: 0.5rem;
  margin: auto var(--spacing-md);
  border-left: 1px solid var(--colour-white);
}

.menuIconButton {
  @include media-sm {
    display: block;
  }

  @include media-lg {
    display: none;
  }
}

.content {
  display: flex;
}

.sidebar {
  display: none;
  flex: 1;
  padding-right: var(--spacing-md);

  @include media-lg {
    display: block;
  }

  h1 {
    margin-top: 0;
    font-size: var(--font-size-md);
  }
}

.page {
  display: flex;
  flex: 3;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: var(--spacing-md);
  color: var(--colour-black);
  background-color: var(--colour-white);
}

.pageHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--container-width-sm);
  margin-top: var(--spacing-xlg);
  margin-bottom: var(--spacing-md);
  text-align: center;
}

.thumbnail {
  max-width: 8rem;
  margin-bottom: var(--spacing-md);
}

.title {
  margin-top: 0;
  color: var(--colour-black);
  font-weight: 600;
  font-size: var(--font-size-xlg);
  font-family: var(--font-secondary);
  letter-spacing: 0;
  text-align: center;
  text-transform: none;
}

.creator {
  @extend .font-uppercase;
}

.button--light {
  @extend .font-uppercase;

  width: fit-content;
  padding-top: var(--spacing-xxs);
  padding-right: var(--spacing-xxxs);
  padding-bottom: var(--spacing-xxxs);
  padding-left: var(--spacing-xxs);
  color: var(--colour-black);
  font-size: var(--font-size-lg);
  line-height: 1;
  border: 1px solid var(--colour-black);
}

.song-controls {
  margin-top: var(--spacing-xlg);
}

.button--tempo {
  @extend .font-uppercase;

  width: fit-content;
  padding-top: var(--spacing-xxs);
  padding-right: var(--spacing-xs);
  padding-bottom: var(--spacing-xxxs);
  padding-left: var(--spacing-xs);
  margin-left: var(--spacing-xxs);
  margin-right: var(--spacing-xxs);
  color: var(--colour-white);
  font-size: var(--font-size-lg);
  line-height: 1;
  border: 1px solid var(--colour-white);
}
