@import '../../styles/global.scss';

.virtuosoLogo {
  position: relative;
  margin: 0 0 0 0;
  font-weight: normal;
  font-size: var(--font-size-lg);
  line-height: 1;
  transform: translateY(0.2em);

  // @include media-lg {
  //   // margin-bottom: 0.1rem;
  //   font-size: var(--font-size-lg);
  // }

  strong {
    margin-left: 0.05em;
    color: var(--colour-primary);
    font-weight: 700;
  }

  svg {
    position: absolute;
    bottom: 0;
    left: 3.6em;
  }
}

.virtuosoLogoSub {
  @extend .font-uppercase;

  display: none;
  margin-top: var(--spacing-xxs);
  margin-bottom: 0;
  font-size: var(--font-size-xxs);

  // @include media-md {
  //   display: block;
  // }

  strong {
    color: var(--colour-primary);
  }
}
