@import '../../styles/variables.css';

.table {
  margin-bottom: var(--spacing-md);
  padding-top: var(--spacing-sm);
  border-top: 1px dashed var(--colour-grey);
  border-bottom: 1px dashed var(--colour-grey);
  text-transform: uppercase;
  @apply (--font-uppercase);
  /* font-size: var(--font-size-sm); */
}

.table__row {
  display: flex;
  margin-bottom: var(--spacing-xxs);
}

.table__cell {
  flex: 10;
  line-height: var(--line-height-sm);
}

.table__cell--head {
  flex: 4;
  color: var(--colour-grey);
}
