@import '../../styles/global.scss';

.diaryFilesForm {
  display: flex;
  flex-direction: row;

  & span {
    color: var(--colour-highlight);
  }

  & button {
    @include media-sm {
      width: auto;
    }
  }
}

// Blueprint for v2 form styles
.form {
  input[type='text'],
  textarea {
    font-family: var(--font-secondary);
    background-color: transparent;
    border: 1px solid var(--colour-white);
  }

  input[type='text'] {
    padding-top: var(--spacing-xs);
  }
}

.diaryFilesForm__intro {
  font-size: var(--font-size-sm);
}

.diaryFilesForm__info {
  font-size: var(--font-size-md);
}

.diaryFilesForm__section {
  // flex: none;
  margin-bottom: var(--spacing-lg);

  // @include media-md {
  //   &:nth-child(3),
  //   &:nth-child(4) {
  //     // flex: auto;
  //   }
  // }
}

.diaryFilesForm__location {
  opacity: 50%;
}

.diaryFilesForm__date {
  // direction: rtl;
  // flex: auto;
  // align-self: flex-end;
  @include media-md {
    float: right;
    width: 30%;
  }
}

.diaryFilesForm__name {
  @include media-md {
    float: left;
    width: 41%;
    margin-right: 4%;
  }
}

.diaryFilesForm__email {
  @include media-md {
    float: left;
    width: 41%;
    margin-right: 4%;
  }
}

.diaryFilesForm__age {
  @include media-md {
    float: left;
    width: 10%;
  }
}

.diaryFilesForm__city {
  @include media-md {
    float: left;
    width: 28%;
    margin-right: 4%;
  }
}

.diaryFilesForm__state {
  @include media-md {
    float: left;
    width: 48%;
    margin-right: 4%;
  }
}

.diaryFilesForm__postcode {
  @include media-md {
    float: left;
    width: 16%;
  }
}

.diaryFilesForm__outsideAustralia {
  @include media-md {
    float: left;
    width: 100%;
  }
}

.diaryFilesForm__outsideAustraliaLabel {
  display: inline;
  margin-left: var(--spacing-lg);
}

.diaryFilesForm__submitWrapper {
  @include media-md {
    float: left;
    width: 15%;
  }

  margin-bottom: var(--spacing-lg);
}

.diaryFilesForm__termsAndConditions {
  @include media-md {
    float: left;
    width: 84%;
  }

  font-size: smaller;
}
