@import '../../styles/global.scss';

.diaryFilesAbout {
  display: block;
}

.diaryFilesAboutBody {
  margin-right: auto;
  margin-bottom: var(--spacing-xlg);
  margin-left: auto;
  padding: var(--spacing-md);
  color: var(--colour-black);
  background-color: var(--colour-white);

  @include media-sm {
    margin-bottom: var(--spacing-xxxxlg);
    padding: var(--spacing-xxlg);
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}
