@import '../../styles/global.scss';

@import '../../styles/diary-files/global.scss';

.diaryFilesAbout {
  display: block;

  h1 {
    @extend .font-uppercase;

    margin-top: 0;
    font-size: var(--font-size-md);
    text-align: center;
  }
}

.content {
  margin-right: auto;
  margin-bottom: var(--spacing-xlg);
  margin-left: auto;
  padding: var(--spacing-md);
  color: var(--colour-black);
  font-family: var(--font-diary-files);
  line-height: var(--font-diary-files-line-height-md);
  background-color: var(--colour-white);

  @include media-sm {
    margin-bottom: var(--spacing-xlg);
    padding: var(--spacing-xxlg);
    font-size: 1.1em;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.diaryFilesAboutExtra {
  max-width: 32em;
  margin: auto;
  margin-bottom: var(--spacing-xlg);
  // margin-left: auto;
  // padding: var(--spacing-md);

  @include media-sm {
    margin-bottom: var(--spacing-xxlg);
    padding: 0 var(--spacing-xxlg);
  }

  p {
    font-family: var(--font-secondary);
  }
}
