@import '../../styles/global.scss';

.diaryFilesTextUppercase {
  font-family: var(--font-diaryFiles);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.diaryFilesPost {
  display: block;
  margin-bottom: var(--spacing-xxxxlg);
  padding: var(--spacing-xxlg);
  color: var(--colour-black);
  background-color: var(--colour-white);
  border: 1px solid var(--colour-white);

  & > *:last-child {
    margin-bottom: 0;
  }
}

.date {
  @extend .diaryFilesTextUppercase;

  font-size: var(--font-size-sm);
  opacity: 0.8;
}

.content {
  // margin-left: var(--spacing-sm);
  font-size: var(--font-size-lg);
  // font-family: var(--font-secondary);
  font-family: var(--font-diaryFiles);
  opacity: 0.8;
}

.authorName {
  @extend .diaryFilesTextUppercase;

  text-align: right;
  opacity: 0.8;
}

.authorName span {
  text-transform: none;
}

.authorLocation {
  // @extend .diaryFilesTextUppercase;
  font-family: var(--font-diaryFiles);
  text-align: right;
  opacity: 0.8;
}

.backButton {
  float: right;
  width: 20%;
  color: var(--colour-black);
  border-color: var(--colour-black);
}

.viewButton {
  float: right;
  width: 20%;
  color: var(--colour-black);
  border-color: var(--colour-black);
}

// .hole {
//   width: 2em;
//   height: 2em;
//   margin: 0 auto;
//   border: 1px solid var(--colour-white);
//   border-radius: 1em;
// }
