@import '../../styles/global.scss';

@import '../../styles/diary-files/global.scss';

.diaryFilesPost {
  display: block;
  // max-width: 40em;
  margin-right: auto;
  margin-bottom: var(--spacing-xlg);
  margin-left: auto;
  padding: var(--spacing-md);
  color: var(--colour-black);
  background-color: var(--colour-white);
  // border: 1px solid var(--colour-white);

  @include media-sm {
    margin-bottom: var(--spacing-xxxxlg);
    padding: var(--spacing-xxlg);
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.diaryFilesAllowHover {
  &:hover {
    outline: 4px solid var(--colour-highlight);
    cursor: pointer;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
}

.date {
  @extend .diary-files-font-uppercase;

  font-weight: 700;
  font-size: var(--font-size-sm);

  // @include media-sm {
  //   font-size: var(--font-size-md);
  // }
}

.content {
  margin-bottom: var(--spacing-xxxlg);
  font-size: var(--font-size-md);
  font-family: var(--font-diary-files);
  line-height: var(--font-diary-files-line-height-md);
  opacity: 0.8;

  @include media-sm {
    // font-size: var(--font-size-md);
    font-size: 1.1em;
  }
}

.authorInfo {
  // font-size: 1.1em;
  font-family: var(--font-diary-files);
  text-align: right;
}

.authorName {
  font-weight: 700;
  font-size: 1.2em;
  // font-family: var(--font-diary-files);
  // text-align: right;
}

// .authorLocation {
//   font-family: var(--font-diary-files);
//   text-align: right;
//   // text-transform: none;
//   // opacity: 0.8;
// }

.backButton {
  max-width: 7em;
  margin-bottom: var(--spacing-lg);
}

.sharingIcon {
  &:link,
  &:visited {
    color: var(--colour-black);
  }

  &:hover {
    color: var(--colour-highlight);
  }
}

.sharingIcon img {
  width: var(--spacing-xlg);
  height: var(--spacing-xlg);
  margin-right: var(--spacing-xxs);
  // margin-bottom: 0;
  color: var(--colour-black);
  // font-size: var(--font-size-xlg);

  &:hover {
    color: var(--colour-highlight);
  }
}
