@import '../../styles/global.scss';

@import '../../styles/diary-files/text.scss';

.diaryFilesPost {
  display: block;
  // max-width: 40em;
  margin-right: auto;
  margin-bottom: var(--spacing-xlg);
  margin-left: auto;
  padding: var(--spacing-md);
  color: var(--colour-black);
  background-color: var(--colour-white);
  border: 1px solid var(--colour-white);

  @include media-sm {
    margin-bottom: var(--spacing-xxxxlg);
    padding: var(--spacing-xxlg);
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.diaryFilesAllowHover {
  &:hover {
    // background-color: var(--colour-grey-light);
    opacity: 0.8;
  }
}

.date {
  @extend .diaryFilesTextUppercase;

  font-weight: 700;
  font-size: var(--font-size-md);
  opacity: 0.8;

  // @include media-sm {
  //   font-size: var(--font-size-md);
  // }
}

.content {
  margin-bottom: var(--spacing-xxxlg);
  font-size: var(--font-size-md);
  font-family: var(--font-diaryFiles);
  line-height: 1.55;
  opacity: 0.8;

  @include media-sm {
    // font-size: var(--font-size-md);
    font-size: 1.1em;
  }
}

.authorName {
  // @extend .diaryFilesTextUppercase;

  font-size: 1.1em;
  font-family: var(--font-diaryFiles);
  text-align: right;
  opacity: 0.8;
}

// .authorName span {
//   // font-size: smaller;
//   // text-transform: none;
// }

.authorLocation {
  // @extend .diaryFilesTextUppercase;
  font-family: var(--font-diaryFiles);
  text-align: right;
  text-transform: none;
  // opacity: 0.8;
}

.backButton {
  // float: right;
  max-width: 7em;
  margin-bottom: var(--spacing-lg);
  // color: var(--colour-black);
  // border-color: var(--colour-black);

  // &:link,
  // &:visited {
  //   color: var(--colour-black);
  // }

  // &:hover {
  //   color: var(--colour-highlight);
  // }
}

// .hole {
//   width: 2em;
//   height: 2em;
//   margin: 0 auto;
//   border: 1px solid var(--colour-white);
//   border-radius: 1em;
// }

// .sharingIcons {
// height: auto;
// }

.sharingIcon {
  margin-right: var(--spacing-xxs);
  // margin-bottom: 0;
  color: var(--colour-black);
  font-size: var(--font-size-xlg);

  &:link,
  &:visited {
    color: var(--colour-black);
  }

  &:hover {
    color: var(--colour-highlight);
  }
}
