@import '../../styles/globals.scss';

.comment {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  padding-top: var(--spacing-sm);
  padding-left: 1em;
  border-left: 1px solid var(--colour-white);

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    border-top: 1px solid var(--colour-white);
    content: '';
  }

  &:last-child {
    /*border-bottom: 1px dotted var(--colour-white);*/
  }

  & header {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacing-sm);
  }
}

.comment__author {
  @extend .font-uppercase;
  font-weight: bold;
}

.comment__date {
  font-size: var(--font-size-sm);
  @extend .font-uppercase;
}

.comment__content {
  /* font-size: var(--font-size-sm); */
  font-family: var(--font-secondary);
  @extend .font-antialiased;

  @include media-sm {
    /* font-size: var(--font-size-md); */
  }
}
