@import '../../styles/global.scss';

.ctaButton {
  @extend .font-uppercase;

  position: relative;
  z-index: 1;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  height: 3em;
  padding-right: var(--spacing-sm);
  padding-bottom: 0;
  padding-left: var(--spacing-md);
  font-size: var(--font-size-sm);
  font-family: var(--font-secondary);
  line-height: 1;
  text-align: center;
  border: 1px solid var(--colour-white);
  transition: 0.3s color;

  &:link,
  &:visited {
    color: var(--colour-white);
  }

  &:hover {
    color: var(--colour-highlight);
    text-decoration: none;
    border: 1px solid var(--colour-highlight);
  }
}

.ctaButton:disabled {
  opacity: 0.5;

  &:hover {
    color: inherit;
    border: 1px solid var(--colour-white);
  }
}

.sm {
  height: 2em;
  font-size: var(--font-size-xs);
  letter-spacing: 0.4em;
}

.secondary {
  background-color: var(--colour-grey-darkest);
  border: 1px solid var(--colour-grey-darkest);
}

.light {
  --colour-white: var(--colour-black);
}

.light.secondary {
  background-color: var(--colour-grey-lightest);
  border: 1px solid var(--colour-grey-lightest);
}
