/*
 * DIARY FILES GLOBALS
 * This should be imported in every .scss file for Diary Files
 * ========================================================================== */

/*
 * VARIABLES
 * ------------------------------------------------------------------------ */

/*
 * TYPOGRAPHY
 * ------------------------------------------------------------------------ */

.diaryFilesTextUppercase {
  font-family: var(--font-diary-files);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
