/*
 * TYPOGRAPHY
 * ------------------------------------------------------------------------ */

.diaryFilesTextUppercase {
  font-family: var(--font-diaryFiles);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
