@import '../../styles/global.scss';

.diaryFilesHome {
  display: block;
}

.masthead {
  max-width: var(--container-width-md);
  margin-bottom: var(--spacing-xxxlg);
  padding: 0 var(--spacing-xxxlg);
  text-align: center;

  p {
    margin-bottom: var(--spacing-lg);
    font-size: var(--font-size-lg);
    font-family: var(--font-diaryFiles);
  }
}

.mastheadButton {
  max-width: 20em;
  margin: 0 auto;
}

.diaryFilesModalWrapper {
  display: flex;
  max-width: var(--container-width-lg);
  margin-right: auto;
  margin-bottom: var(--spacing-xxxlg);
  margin-left: auto;
  padding: 0 var(--spacing-xxxlg);
}
