@import '../../styles/global.scss';

.bubbleChart {
  @extend .font-uppercase;

  display: block;
  width: 100%;
  text-anchor: middle;
  font-weight: 600;
  font-size: var(--spacing-xs);
  // font-family: var(--font-secondary);
}
