@import '../../styles/global.scss';

.masthead {
  position: relative;
  width: calc(100% + 2em);
  height: 20em;
  margin-top: -3em;
  margin-right: -1em;
  margin-left: -1em;
  padding-top: 0;
  padding-right: 1em;
  padding-left: 1em;

  @include media-sm {
    width: calc(100% + 4em);
    height: 40em;
    margin-top: -7.5em;
    margin-left: -2em;
    padding-right: 2em;
    padding-left: 2em;
  }

  @include media-lg {
    margin-top: -5.5em;
  }
}

.masthead--lg {
  height: 36em;

  @include media-sm {
    height: 92vh;
    min-height: 50em;
    max-height: 60em;
  }
}

.masthead__bg {
  position: absolute;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  opacity: 0.35;
  /* background-image: url('../images/masthead-background-01.gif'); */

  /* Gradient */
  &::after {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      var(--colour-black)
    );
    content: '';
  }
}

/* Main heading */
.masthead__title {
  position: absolute;
  top: 50%;
  font-size: 1.9em;
  line-height: 1;
  letter-spacing: 0.25em;
  /* font-size: var(--font-size-xlg); */

  @include media-sm {
    font-size: var(--font-size-xxxlg);
  }

  @include media-md {
    /*line-height: 1.1;*/
    font-size: var(--font-size-xxxxlg);
  }

  .masthead--lg & {
    top: 50%;
  }

  & a:link,
  & a:visited {
    color: var(--colour-highlight);
  }
}

.masthead__title__main {
  position: relative;
  display: block;
}

.masthead__title__small {
  display: block;
  margin-bottom: var(--spacing-xxs);
  font-weight: 100;
  font-size: var(--font-size-xxxs);
  letter-spacing: 0.5em;

  @include media-md {
    font-size: var(--font-size-xxxxs);
    letter-spacing: 0.3em;
  }
}

.masthead__title__highlight {
  display: block;
  color: var(--colour-highlight);
  /* font-size: var(--font-size-sm); */
}

.masthead__subtitle {
  position: absolute;
  top: 21%;
  font-weight: 500;
  font-size: var(--font-size-xs);
  letter-spacing: 0.2em;
  text-transform: uppercase;

  &::before {
    position: absolute;
    top: -1.6em;
    height: 1em;
    border-left: 1px solid var(--colour-white);
    content: '';
  }
}

.masthead__intro-text {
  position: absolute;
  bottom: 15%;
  left: 0;
  width: 80%;
  padding: 0 var(--spacing-md) 0 0;
  font-weight: 300;
  font-size: var(--font-size-sm);
  font-family: var(--font-secondary);
  line-height: 1.4em;
  letter-spacing: 0.05em;

  @include media-sm {
    bottom: 11%;
    left: auto;
    /* right: 10%; */
    width: 55%;
    font-size: var(--font-size-md);
    /* border-left: 1px dashed var(--colour-white); */
  }

  @include media-md {
    right: 0%;
    width: 45%;
  }

  @include media-lg {
    width: 35%;
  }

  /* Corner Line */
  &::after {
    position: absolute;
    top: -0.6em;
    right: 0;
    width: var(--spacing-xlg);
    height: 1em;
    border-top: 1px dashed var(--colour-white);
    border-right: 1px solid var(--colour-white);
    content: '';
  }

  /* Left Line */
  /* &::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0.45em;
    height: calc(100% - 0.7em);
    border-left: 1px dashed var(--colour-white);
  } */
}

.masthead__intro-list {
  display: none;
  @extend .font-uppercase;

  @include media-sm {
    position: absolute;
    top: 8em;
    right: 0;
    display: block;
    font-size: var(--font-size-sm);
    line-height: 1;
    transform: rotate(-90deg);
    transform-origin: bottom right;
    opacity: 0.3;
  }
}

.masthead__content {
  position: relative;
  height: 100%;
}

.masthead__caption {
  position: absolute;
  right: 0;
  bottom: var(--spacing-xxxlg);
  padding-right: var(--spacing-xlg);
  font-size: var(--font-size-xs);
  @extend .font-uppercase;

  /* @include media-sm {
    bottom: 10%;
  } */

  &::before {
    position: absolute;
    top: var(--spacing-xxxs);
    right: 0;
    width: var(--spacing-sm);
    height: var(--spacing-sm);
    background-color: var(--colour-highlight);
    border-radius: var(--spacing-sm);
    content: '';
  }
}
