@import '../styles/variables.css';

#dxmaze {
  margin-top: 0;
}

.error-page {
  & h1,
  & h2 {
    padding-top: 0;
    text-align: center;
  }

  & h1 {
    font-size: var(--font-size-md);

    @media (--screen-sm) {
      font-size: var(--font-size-lg);
    }

    @media (--screen-md) {
      font-size: var(--font-size-xlg);
    }
  }

  & h2 {
    margin-top: 0;
  }
}
