@import '../../styles/global.scss';

.sheetMusicHome {
  display: block;
  width: 100%;
  padding-top: 2em;
  // text-align: center;
}

.songList {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.song {
  h1 {
    margin-top: var(--spacing-xxxs);
    font-weight: 500;
    font-size: var(--font-size-lg);
    font-family: var(--font-primary);
    letter-spacing: 0;
    text-transform: none;
  }
}
