@import '../../styles/global.scss';

.diaryFilesApp {
  --font-diaryFiles: 'Special Elite', cursive;

  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
}

.headerLogo {
  height: 1.4em;
}

.headerTitle {
  margin: 0;
  font-family: var(--font-diaryFiles);
  line-height: 1;
  letter-spacing: 0;
  text-transform: none;
}

.main {
  max-width: var(--container-width-md);
  margin: 0 auto;
  padding-top: var(--spacing-xxxlg);
}
