@import '../../styles/global.scss';

.virtuosoMusicControls {
  color: white;
}

// ----------------------------------------------------------------------------
// SONG CONTROLS
// ----------------------------------------------------------------------------

// .songControls {
//   position: sticky;
//   top: 0;
//   z-index: 20;
//   display: flex;
//   align-items: center;
//   width: 100%;
//   padding: var(--spacing-md) 0 var(--spacing-xxxs);
//   background-color: var(--colour-white);
//   border-bottom: 1px solid var(--colour-black);
// }

.instrumentControls {
  position: absolute;
  top: 4rem;
  right: 0;
  z-index: 10;
  display: block;
  width: var(--container-width-xs);
  padding: var(--spacing-lg);
  background-color: var(--colour-white);
  border: 1px solid var(--colour-black);

  span {
    text-transform: lowercase;
  }

  p {
    margin-bottom: var(--spacing-xs);
    font-weight: 700;
    font-family: var(--font-secondary);
  }
}

.instrumentControlGroup {
  margin-bottom: var(--spacing-xlg);
}

.tempoControls {
  @extend .font-uppercase;

  display: flex;
  align-items: center;
  margin-left: auto;

  .tempoInput {
    width: 50px;
    height: 3em * 0.77;
    color: var(--colour-black);
    text-align: center;
    vertical-align: middle;
    // background-color: transparent;
    background-color: var(--colour-grey-lightest);
    // border: 1px solid var(--colour-black);
    border: none;
  }

  // @include media-lg {
  //   display: flex;
  //   align-items: baseline;
  // }
}

.button--light {
  @extend .font-uppercase;

  // width: fit-content;
  // padding-top: var(--spacing-xxs);
  // padding-right: var(--spacing-xxxs);
  // padding-bottom: var(--spacing-xxxs);
  // padding-left: var(--spacing-xxs);
  // color: var(--colour-black);
  // font-size: var(--font-size-lg);
  // line-height: 1;
  // border: 1px solid var(--colour-black);
}

.button--tempo {
  margin-right: var(--spacing-xxs);
  margin-left: var(--spacing-xxs);
}

.button--tempo:disabled,
.button--tempo[disabled] {
  color: #999;
  border-color: #999;
}

.volumeSlider {
  // width: 69%;
  margin-bottom: var(--spacing-xs);
  padding-top: var(--spacing-xlg);
}

// ----------------------------------------------------------------------------
