@import '../../styles/global.scss';

.virtuosoMusicControls {
  label {
    margin-bottom: 0;
  }
}

.button {
  margin-right: var(--spacing-sm);
  font-weight: 600;
  font-size: var(--font-size-xs);

  @include media-sm {
    font-size: var(--font-size-sm);
  }
}

.autoScrollButton {
  letter-spacing: 0.25em;
}

.tempoControls {
  @extend .font-uppercase;

  display: none;

  @include media-md {
    display: flex;
    align-items: center;
    margin-left: var(--spacing-xxs);
    padding-left: var(--spacing-md);
    line-height: 1;
    border-left: 1px solid var(--colour-black);
  }

  form {
    display: flex;
    align-items: center;
  }

  label {
    margin-right: var(--spacing-sm);
    font-weight: 600;
  }
}

.tempoInput {
  width: 4em;
  height: 2.3em;
  margin-right: var(--spacing-xxxs);
  color: var(--colour-black);
  font-size: var(--font-size-md);
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  // background-color: var(--colour-grey-lightest);
  border: 1px solid var(--colour-black);
  // border: none;

  /* Hide Arrow from type=number Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }

  /* Hide Arrow from type=number Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.tempoButton {
  font-size: var(--font-size-xs);
}

.tempoButton:disabled,
.tempoButton[disabled] {
  color: #999;
  border-color: #999;
}

.addTempoButton {
  margin-right: var(--spacing-xs);
}

.moreControlsButton {
  margin-right: 0;
  margin-left: auto;
}

.instrumentControlsContainer {
  position: absolute;
  top: calc(4rem - var(--spacing-xxxs));
  right: 0;
  z-index: 10;
  display: block;
  width: 100%;
  max-width: var(--container-width-sm);
  overflow: hidden;

  @include media-sm {
    top: 4em;
  }
}

.instrumentControls {
  width: 100%;
  margin-top: -1px;
  margin-bottom: 10rem; // Hack to prevent Select box from cropping
  padding: var(--spacing-md);
  background-color: var(--colour-white);
  border: 1px solid var(--colour-black);
  transform: translateY(-100%);
  transition: 0.3s $ease-in-out-quint;

  @include media-sm {
    padding: var(--spacing-lg);
  }

  span {
    text-transform: lowercase;
  }

  label {
    margin-bottom: var(--spacing-xs);
    font-weight: 600;
    font-size: var(--font-size-xs);
  }
}

.instrumentControlsVisible {
  transform: translateY(0);
}

.instrumentControlGroup {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--spacing-xxs);
  padding-bottom: var(--spacing-md);
  border-bottom: 1px solid var(--colour-black);

  @include media-sm {
    align-items: stretch;
    margin-bottom: var(--spacing-md);
  }
}

.instrumentControlGroup:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.instrumentNameGroup {
  display: flex;
  flex: 1 0 100%;

  @include media-sm {
    flex: 1;
    flex-direction: column;
  }

  label {
    display: none;

    @include media-sm {
      display: block;
    }
  }
}

.instrumentName {
  display: flex;
  flex: 1;
  align-items: center;
  margin-bottom: var(--spacing-xs);

  @include media-sm {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
    margin-left: var(--spacing-xxxs);
    font-weight: 700;
  }
}

.volumeGroup {
  flex: 1;
  margin-right: var(--spacing-md);

  @include media-sm {
    margin-right: var(--spacing-lg);
  }
}

.instrumentSelectGroup {
  flex: 1;
}
