/*
 * OTHERS
 * ========================================================================== */

/*
 * CONTAINERS
 * -------------------------------------------------------------------------- */

.container {
  lost-utility: clearfix;
  width: 100%;
  margin: 0 auto;
}

.container--sm {
  max-width: var(--container-width-sm);
}

.container--md {
  max-width: var(--container-width-md);
}

.container--lg {
  max-width: var(--container-width-lg);
}

.container--xlg {
  max-width: var(--container-width-xlg);
}

.warning {
  @extend .font-uppercase;

  margin-top: var(--spacing-md);
  color: var(--colour-highlight);
}

/* TODO: Remove this in data */
.entry-more {
  display: none;
}

/* TAG */
.tag {
  display: inline-block;
  margin: 0 var(--spacing-sm) var(--spacing-sm) 0;
  padding: var(--spacing-xxs) var(--spacing-xxs) var(--spacing-xxxs);
  font-size: var(--font-size-sm);
  border: 1px solid var(--colour-primary);
  @extend .font-uppercase;
}

.video-container {
  position: relative;
  height: 0;
  padding-top: 35px;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
