/*
 * TYPOGRAPHY
 * ------------------------------------------------------------------------ */

.font-uppercase {
  font-family: var(--font-primary);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-variant-ligatures: none;
}

.font-antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
