@import '../../styles/global.scss';

.ctaButtonV2 {
  @extend .font-uppercase;

  position: relative;
  z-index: 1;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // width: 100%;
  height: 3em;
  padding-right: var(--spacing-sm);
  padding-bottom: 0;
  padding-left: var(--spacing-md);
  font-size: var(--font-size-sm);
  line-height: 1;
  // letter-spacing: 0.4em;
  text-align: center;
  border: 1px solid var(--colour-white);
  transition: 0.3s;

  &:link,
  &:visited {
    color: var(--colour-white);
  }

  &:hover {
    color: var(--colour-highlight);
    text-decoration: none;
    border: 1px solid var(--colour-highlight);
  }
}

.ctaButtonV2:disabled {
  opacity: 0.5;

  &:hover {
    color: inherit;
    border: 1px solid var(--colour-white);
  }
}

.light {
  --colour-white: var(--colour-black);
}
