@import '../../styles/global.scss';

.svgIcon {
  display: inline-block;
  width: var(--spacing-xlg);

  .svg {
    width: 100%;
    height: 100%;
    vertical-align: middle;

    > * {
      fill: var(--colour-black);
    }
  }

  // .svg:hover {
  //   > * {
  //     fill: var(--colour-primary);
  //   }
  // }
}

.white {
  .svg {
    > * {
      fill: var(--colour-white);
    }
  }
}

.grey {
  .svg {
    > * {
      fill: #7b7b7b;
    }
  }
}

.black {
  .svg {
    > * {
      fill: var(--colour-black);
    }
  }
}

.highlight {
  .svg {
    > * {
      fill: var(--colour-highlight);
    }
  }
}

.sm {
  width: var(--spacing-lg);
  min-width: var(--spacing-lg);
}

.md {
  width: var(--spacing-xlg);
  min-width: var(--spacing-xlg);
}

.lg {
  width: var(--spacing-xxlg);
  min-width: var(--spacing-xxlg);
}

.xlg {
  width: var(--spacing-xxlg);
  min-width: var(--spacing-xxlg);
}

.xxlg {
  width: var(--spacing-xxxlg);
  min-width: var(--spacing-xxxlg);
}
