@import '../../styles/global.scss';

.menu {
  margin: 0;
  padding: 0;

  & li {
    list-style: none;
  }

  & a:link,
  & a:visited {
    color: var(--colour-white);
  }

  a.is-active:link,
  a.is-active:visited {
    color: var(--colour-primary);
  }
}
