@import '../../styles/global.scss';

.sheetMusicAbout {
  display: flex;
  flex: 3;
  flex-direction: column;
  align-items: left;
  width: 100%;
  padding: 0 var(--spacing-md);
  padding-right: 20%;
  padding-left: 10%;
  overflow: auto;
  color: var(--colour-black);
  background-color: var(--colour-white);
}
